/* 
    increase loadout width
*/

#modal-content-left {
  width: 873px !important;
  left: -20% !important;
}

#modal-content-right-crosshair,
#modal-content-right-emote {
  margin-right: -120px;
}

@media (max-width: 850px), (max-width: 900px) and (min-resolution: 3dppx) {
  #modal-content-left {
    width: 665px !important;
  }

  #modal-content-right-crosshair,
  #modal-content-right-emote {
    margin-right: -83px !important;
  }
}
