/* 
    increase loadout width
*/

#modal-content-left {
  width: 780px !important;
  left: -10% !important;
}

#modal-content-right-crosshair,
#modal-content-right-emote,
#modal-content-right-weapon {
  margin-right: -100px;
}

@media (max-width: 850px), (max-width: 900px) and (min-resolution: 3dppx) {
  #modal-content-left {
    width: 665px !important;
  }

  #modal-content-right-crosshair,
  #modal-content-right-emote,
  #modal-content-right-weapon {
    margin-right: -83px !important;
  }
}
